'use strict';

// Development specific configuration
// ==================================
module.exports = {
  session: {
    secret: '' // 64+ char phrase
  },
  redis: {
    password: '' // Redis password, null for no password
  },
  walmart: {
    apiKey: '' // https://developer.walmartlabs.com/
  },
  bestbuy: {
    apiKey: '' // https://developer.bestbuy.com/
  },
  target: {
    apiKey: 'eb2551e4accc14f38cc42d32fbc2b2ea' // Retail site key
  },
  amazon: {
    accessKeyId : '', // http://aws.amazon.com/
    secretAccessKey: ''
  }
};
