<div layout-gt-sm="row" ng-repeat="i in getRows(amiibos.length)">
  <div flex="20" ng-repeat="(index, amiibo) in amiibos | offset: i*5">
    <md-card ng-click="viewPage(amiibo.link)" class="md-whiteframe-z2 amiibo">
      <img ng-src="{{amiibo.image}}" class="md-card-image" alt="amiibo.title">
      <h3>
        {{amiibo.title}}<sup ng-if="amiibo.hasTrademark" style="font-size: 10pt;">&#8482;</sup><sup ng-if="!amiibo.hasTrademark" style="font-size: 12pt;"></sup>
      </h3>
      <p>
        <md-button class="md-raised md-primary">View Page</md-button>
      </p>
    </md-card>
  </div>
</div>
<footer class="footer">
  <p>Amiibro &copy; 2014 | Made with ♥ from  <a href="//github.com/brutalhonesty">@brutalhonesty</a></p>
</footer>
