<div ng-include="'components/navbar/navbar.html'"></div>

<header class="logo">
  <h2 id="banner">♥ Amiibro ♥</h2>
  <input type=text
  ng-pattern='/^(\d{5}(-\d{4})?|[A-Z]\d[A-Z] *\d[A-Z]\d)$/'
  ng-model="zipcode"
  required>
</header>

<div class="container" ng-controller="MainCtrl">
<ul class="grid">
    <li ng-repeat="amiibo in amiibos" class="amiibo grid-item">
        <a class="content" href="/amiibo/{{ amiibo.key }}">
            <div id="amiibo-{{ $index }}" style='background-image: url("{{ amiibo.url }}");'>
            </div>
        </a>
    </li>
</ul>
</div>

<footer class="footer">
  <div class="container">
      <p>Amiibo Locator &copy; 2014 |
        Made with ♥ from  <a href="//github.com/brutalhonesty">@brutalhonesty</a>
  </div>
</footer>
